@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

/* Custom scrollbar styles */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

body {
  scroll-behavior: smooth; /* Enable smooth scrolling */
  font-family: "Nunito Sans", sans-serif;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(239 68 68);
}

/* src/index.css */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Sans Regular");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Nunito Sans SemiBold");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Sans Bold");
}

/* Add these styles to your CSS file */
@keyframes blob {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  }
  25% {
    border-radius: 60% 40% 30% 70% / 40% 60% 70% 30%;
  }
  50% {
    border-radius: 70% 30% 40% 60% / 60% 70% 30% 40%;
  }
  75% {
    border-radius: 30% 70% 60% 40% / 70% 30% 40% 60%;
  }
}

.animate-blob {
  animation: blob 8s infinite;
}

.current-section {
  border-bottom: 4px solid black;
  color: black;
}
